@using WebUI.Models
@model ElectronicCigarettesViewModel

@{
    ViewBag.Title = "Сигареты";
}

@foreach (var cigarette in Model.ElectronicCigarettes)
{
    <div>
        <h3>@cigarette.Name</h3>
        <p>@cigarette.Produser</p>
        <h4>@cigarette.Price руб</h4>
    </div>
    <hr />
}
<div>
    @Html.PageLinks(Model.PagingInfo, x=> Url.Action("List", new { page = x }))
</div>