<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <title>VapingStore</title>

</head>
<body>
    <div class="navbar navbar-inverse" role="navigation">
        <a class="navbar-brand" href="#">VapingStore - магазин электронных сигарет</a>
        @Html.Action("Summary", "Cart")
    </div>

    <div class="row panel">
        <div id="genres" class="col-lg-2">
           @Html.Action("menu","Nav")
        </div>
        <div class="col-xs-6">
            @RenderBody()
        </div>
    </div>
    
</body>
</html>