@using VapingStore.Models
@model ElectronicCigarettesViewModel

@foreach (var cigarette in Model.ElectronicCigarettes)
{
    @Html.Partial("_ElectronicCigarettesSummary",cigarette)
}
<div class="btn-group col-xs-offset-11">
    @Html.PageLinks(Model.PagingInfo, x=> Url.Action("List", new { page = x, produser = Model.Produser}))
</div>