@using VapingStore.Models
@model ElectronicCigarettesViewModel

@foreach (var cigarette in Model.ElectronicCigarettes)
{
    @Html.Partial("_ElectronicCigarettesSummary",cigarette)
}
<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x=> Url.Action("List", new { page = x, category = Model.CurrentCategory}))
</div>